.home {
  background-repeat: none;
  background-size: contain;
  display: flex;
  background-color: rgb(71, 17, 52);
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2vw;
}
.Nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
a {
  text-decoration: none;
  color: white;
  margin-right: 7vw;
  font-size: 20px;
}
.Heading1 {
  font-size: 50px;
  max-width: 55vw;
  color: rgb(250, 234, 234);
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
}
.Heading2 {
  font-size: 60px;
  color: white;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Heading2>img{
    margin-right: 20vw;
}
.tips {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.tip1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tip1 h1{
  font-size: 20px;
}
.tip2 h1{
  font-size: 20px;
  text-align: right;
}
.sym{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(247, 152, 203);
}
.symp{
  padding: 20px;
}
.table,th,td{
  border: 5px solid #6e0a39;
  margin-inline: auto;
  font-size: 20px;
  width: 50%;
}
.table td,th{
  background-color: white ;
}